<section class="covers">
  <div class="covers-container">
    <h2 class="visually-hidden">Covers</h2>
    <div class="marquee">
      <div class="marquee__inner">
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-1.webp"
          srcset="
            {=$img-path}cover-img-1.webp    1x,
            {=$img-path}cover-img-1@2x.webp 2x
          "
          width="282"
          height="162"
          alt="Power Pulse"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-2.webp"
          srcset="
            {=$img-path}cover-img-2.webp    1x,
            {=$img-path}cover-img-2@2x.webp 2x
          "
          width="282"
          height="162"
          alt="Mimino"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-3.webp"
          srcset="
            {=$img-path}cover-img-3.webp    1x,
            {=$img-path}cover-img-3@2x.webp 2x
          "
          width="282"
          height="162"
          alt="Traditional Ukraine"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-4.webp"
          srcset="
            {=$img-path}cover-img-4.webp    1x,
            {=$img-path}cover-img-4@2x.webp 2x
          "
          width="282"
          height="162"
          alt="Diet Today"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-9.webp"
          srcset="
            {=$img-path}cover-img-9.webp    1x,
            {=$img-path}cover-img-9@2x.webp 2x
          "
          width="282"
          height="162"
          alt="english study"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-10.webp"
          srcset="
            {=$img-path}cover-img-10.webp    1x,
            {=$img-path}cover-img-10@2x.webp 2x
          "
          width="282"
          height="162"
          alt="Starlight Studio"
        />
      </div>
      <div class="marquee__inner">
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-5.webp"
          srcset="
            {=$img-path}cover-img-5.webp    1x,
            {=$img-path}cover-img-5@2x.webp 2x
          "
          width="282"
          height="162"
          alt="Finance Manager"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-6.webp"
          srcset="
            {=$img-path}cover-img-6.webp    1x,
            {=$img-path}cover-img-6@2x.webp 2x
          "
          width="282"
          height="162"
          alt="chego for natyre"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-7.webp"
          srcset="
            {=$img-path}cover-img-7.webp    1x,
            {=$img-path}cover-img-7@2x.webp 2x
          "
          width="282"
          height="162"
          alt="energy flow"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-8.webp"
          srcset="
            {=$img-path}cover-img-8.webp    1x,
            {=$img-path}cover-img-8@2x.webp 2x
          "
          width="282"
          height="162"
          alt="fruits box"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-1.webp"
          srcset="
            {=$img-path}cover-img-1.webp    1x,
            {=$img-path}cover-img-1@2x.webp 2x
          "
          width="282"
          height="162"
          alt="Power Pulse"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-2.webp"
          srcset="
            {=$img-path}cover-img-2.webp    1x,
            {=$img-path}cover-img-2@2x.webp 2x
          "
          width="282"
          height="162"
          alt="Mimino"
        />
      </div>
      <div class="marquee__inner">
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-9.webp"
          srcset="
            {=$img-path}cover-img-9.webp    1x,
            {=$img-path}cover-img-9@2x.webp 2x
          "
          width="282"
          height="162"
          alt="english study"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-10.webp"
          srcset="
            {=$img-path}cover-img-10.webp    1x,
            {=$img-path}cover-img-10@2x.webp 2x
          "
          width="282"
          height="162"
          alt="Starlight Studio"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-1.webp"
          srcset="
            {=$img-path}cover-img-1.webp    1x,
            {=$img-path}cover-img-1@2x.webp 2x
          "
          width="282"
          height="162"
          alt="Power Pulse"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-5.webp"
          srcset="
            {=$img-path}cover-img-5.webp    1x,
            {=$img-path}cover-img-5@2x.webp 2x
          "
          width="282"
          height="162"
          alt="Finance Manager"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-7.webp"
          srcset="
            {=$img-path}cover-img-7.webp    1x,
            {=$img-path}cover-img-7@2x.webp 2x
          "
          width="282"
          height="162"
          alt="energy flow"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-8.webp"
          srcset="
            {=$img-path}cover-img-8.webp    1x,
            {=$img-path}cover-img-8@2x.webp 2x
          "
          width="282"
          height="162"
          alt="fruits box"
        />
      </div>
      <div class="marquee__inner">
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-2.webp"
          srcset="
            {=$img-path}cover-img-2.webp    1x,
            {=$img-path}cover-img-2@2x.webp 2x
          "
          width="282"
          height="162"
          alt="Mimino"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-4.webp"
          srcset="
            {=$img-path}cover-img-4.webp    1x,
            {=$img-path}cover-img-4@2x.webp 2x
          "
          width="282"
          height="162"
          alt="Diet Today"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-9.webp"
          srcset="
            {=$img-path}cover-img-9.webp    1x,
            {=$img-path}cover-img-9@2x.webp 2x
          "
          width="282"
          height="162"
          alt="english study"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-6.webp"
          srcset="
            {=$img-path}cover-img-6.webp    1x,
            {=$img-path}cover-img-6@2x.webp 2x
          "
          width="282"
          height="162"
          alt="chego for natyre"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-5.webp"
          srcset="
            {=$img-path}cover-img-5.webp    1x,
            {=$img-path}cover-img-5@2x.webp 2x
          "
          width="282"
          height="162"
          alt="Finance Manager"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-3.webp"
          srcset="
            {=$img-path}cover-img-3.webp    1x,
            {=$img-path}cover-img-3@2x.webp 2x
          "
          width="282"
          height="162"
          alt="Traditional Ukraine"
        />
      </div>
      <div class="marquee__inner">
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-5.webp"
          srcset="
            {=$img-path}cover-img-5.webp    1x,
            {=$img-path}cover-img-5@2x.webp 2x
          "
          width="282"
          height="162"
          alt="Finance Manager"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-6.webp"
          srcset="
            {=$img-path}cover-img-6.webp    1x,
            {=$img-path}cover-img-6@2x.webp 2x
          "
          width="282"
          height="162"
          alt="chego for natyre"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-7.webp"
          srcset="
            {=$img-path}cover-img-7.webp    1x,
            {=$img-path}cover-img-7@2x.webp 2x
          "
          width="282"
          height="162"
          alt="energy flow"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-8.webp"
          srcset="
            {=$img-path}cover-img-8.webp    1x,
            {=$img-path}cover-img-8@2x.webp 2x
          "
          width="282"
          height="162"
          alt="fruits box"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-1.webp"
          srcset="
            {=$img-path}cover-img-1.webp    1x,
            {=$img-path}cover-img-1@2x.webp 2x
          "
          width="282"
          height="162"
          alt="Power Pulse"
        />
        <img
          class="marquee__line"
          src="{=$img-path}cover-img-2.webp"
          srcset="
            {=$img-path}cover-img-2.webp    1x,
            {=$img-path}cover-img-2@2x.webp 2x
          "
          width="282"
          height="162"
          alt="Mimino"
        />
      </div>
    </div>
  </div>
</section>
