<header class="header">
  <div class="container">
    <div class="header-nav">
      <a class="nav-logo" href="{=$home-path}" aria-label="Site logo">
        <img
          class="nav-logo-png"
          src="{=$img-path}logo.webp"
          srcset="{=$img-path}logo.webp 1x, {=$img-path}logo@2x.webp 2x"
          alt="developer man"
          width="80"
          height="80"
        />
        <span class="logo-text">jefferson*</span>
      </a>
      <div class="box-navigation">
        <button class="nav-menu-btn js-menu" type="button">Menu</button>
        <ul class="nav-list hidden">
          <li class="nav-item">
            <a href="#about">About me</a>
          </li>
          <li class="nav-item">
            <a href="#benefits">Benefits</a>
          </li>
          <li class="nav-item">
            <a href="#project">Projects</a>
          </li>
          <li class="nav-item">
            <a href="#faq">FAQ</a>
          </li>
        </ul>
      </div>

      <a class="header-link link-btn" href="#work">Order the project</a>
      <button
        class="burger-btn"
        type="button"
        aria-label="open moda window"
        data-modal-open
      >
        <svg class="burger-btn-icon" width="28" height="28">
          <use href="{=$icon-path}#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>

<!-- Modal Window  -->

<div class="wrapper" data-modal>
  <div class="burger-menu">
    <button class="burger-btn-close" type="button" data-modal-close>
      <svg class="burger-svg-close" width="28" height="28">
        <use href="{=$icon-path}#icon-clouse"></use>
      </svg>
    </button>
    <nav class="burger-nav">
      <ul class="burger-list">
        <li class="burger-item">
          <a class="burger-nav-link" href="#about">About me</a>
        </li>
        <li class="burger-item">
          <a class="burger-nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="burger-item">
          <a class="burger-nav-link" href="#project">Projects</a>
        </li>
        <li class="burger-item">
          <a class="burger-nav-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <a class="burger-btn-link" href="#work">Order the project</a>
  </div>
</div>
