<section class="hero" id="hero">
  <div class="container">
    <div class="hero-title-div">
      <h1 class="hero-title">
        Hello.<br />
        I'm Fullstack developer Lloyd Jefferson.
      </h1>
    </div>
    <ul class="hero-social-links">
      <li class="hero-social-link-item">
        <a href="https://www.instagram.com/goitclub/" target="_blank" class="hero-social-link-item-text"
          rel="noopener noreferrer">IG</a>
      </li>
      <li class="hero-social-link-item">
        <a href="https://www.facebook.com/goITclub/" target="_blank" class="hero-social-link-item-text"
          rel="noopener noreferrer">FB</a>
      </li>
      <li class="hero-social-link-item">
        <a href="https://www.youtube.com/c/GoIT" target="_blank" class="hero-social-link-item-text"
          rel="noopener noreferrer">YT</a>
      </li>
      <li class="hero-social-link-item">
        <a href="https://github.com/VladimirObidchuk/portfolio" target="_blank" class="hero-social-link-item-text"
          rel="noopener noreferrer">GH</a>
      </li>
      <li class="hero-social-link-item contact-email">
        <a href="mailto:lloydjefferson@gmail.com" class="hero-social-link-item-text"
          rel="noopener noreferrer">lloydjefferson@gmail.com</a>
      </li>
    </ul>
  </div>
</section>