<section id="project" class="project">
  <div class="container">
    <h2 class="project-title">Projects</h2>
    <div class="swiper">
      <ul class="project-list swiper-wrapper">
        <li class="project-item swiper-slide">
          <div class="project-information">
            <ul class="skill-text-block">
              <li><p class="skill-text">#react</p></li>
              <li><p class="skill-text">#js</p></li>
              <li><p class="skill-text">#node js</p></li>
              <li><p class="skill-text">#git</p></li>
            </ul>
            <p class="project-description-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://github.com/VladimirObidchuk/portfolio"
              target="_blank"
              class="project-link"
              rel="noopener noreferrer"
              >See project</a
            >
          </div>
          <div class="img-block">
            <picture>
              <source
                media="(max-width:767px)"
                srcset="
                  ../img/project/project-img-1-mob.webp    1x,
                  ../img/project/project-img-1-mob@2x.webp 2x
                "
              />
              <source
                media="(min-width:768px)"
                srcset="
                  ../img/project/project-img-1-desc.webp    1x,
                  ../img/project/project-img-1-desc@2x.webp 2x
                "
              />
              <img
                class="project-img"
                src="../img/project/project-img-1-mob.webp 1x"
                alt="Library app"
                width="311"
                height="195"
              />
            </picture>
          </div>
        </li>

        <li class="project-item swiper-slide">
          <div class="project-information">
            <ul class="skill-text-block">
              <li><p class="skill-text">#react</p></li>
              <li><p class="skill-text">#js</p></li>
              <li><p class="skill-text">#node js</p></li>
              <li><p class="skill-text">#git</p></li>
            </ul>
            <p class="project-description-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://github.com/VladimirObidchuk/portfolio"
              target="_blank"
              class="project-link"
              rel="noopener noreferrer"
              >See project</a
            >
          </div>
          <div class="img-block">
            <picture>
              <source
                media="(max-width:767px)"
                srcset="
                  ../img/project/project-img-2-mob.webp    1x,
                  ../img/project/project-img-2-mob@2x.webp 2x
                "
              />
              <source
                media="(min-width:768px)"
                srcset="
                  ../img/project/project-img-2-desc.webp    1x,
                  ../img/project/project-img-2-desc@2x.webp 2x
                "
              />
              <img
                class="project-img"
                src="../img/project/project-img-2-mob.webp 1x"
                alt="Veterinarian examining the dog"
                width="311"
                height="195"
              />
            </picture>
          </div>
        </li>

        <li class="project-item swiper-slide">
          <div class="project-information">
            <ul class="skill-text-block">
              <li><p class="skill-text">#react</p></li>
              <li><p class="skill-text">#js</p></li>
              <li><p class="skill-text">#node js</p></li>
              <li><p class="skill-text">#git</p></li>
            </ul>
            <p class="project-description-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://github.com/VladimirObidchuk/portfolio"
              target="_blank"
              class="project-link"
              rel="noopener noreferrer"
              >See project</a
            >
          </div>
          <div class="img-block">
            <picture>
              <source
                media="(max-width:767px)"
                srcset="
                  ../img/project/project-img-3-mob.webp    1x,
                  ../img/project/project-img-3-mob@2x.webp 2x
                "
              />
              <source
                media="(min-width:768px)"
                srcset="
                  ../img/project/project-img-3-desc.webp    1x,
                  ../img/project/project-img-3-desc@2x.webp 2x
                "
              />

              <img
                class="project-img"
                src="../img/project/project-img-3-mob.webp 1x"
                alt="Dictionary app"
                width="311"
                height="195"
              />
            </picture>
          </div>
        </li>
      </ul>

      <div class="swipe-btn">
        <button type="button" class="custom-prev cust-btn">
          <svg
            width="25"
            height="24"
            viewBox="0 0 25 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20.5 12H4.50001"
              stroke="#FAFAFA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M10.5 18L4.5 12L10.5 6"
              stroke="#FAFAFA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <button type="button" class="custom-next cust-btn">
          <svg
            width="25"
            height="24"
            viewBox="0 0 25 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.5 12H20.5"
              stroke="#FAFAFA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M14.5 6L20.5 12L14.5 18"
              stroke="#FAFAFA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <script src="./main.js" defer></script>
</section>
