
<section class="review">
  
    <div class="container">
      <h3 class="review-title">
      Reviews
      </h3>
      <p class="not-found-alert "> No information found</p>

    <!-- Swiper container -->



<div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="review-img" src="https://ftp.goit.study/img/avatars/4.jpg" alt="">
          <h4 class="review-author">Natalia</h4>
          <p class="review-text">Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were completed on time and the result exceeded my expectations.</p>
        </div>
        <div class="swiper-slide">
          <img class="review-img" src="https://ftp.goit.study/img/avatars/5.jpg" alt="">
          
          <h4 class="review-author">Natalia</h4>
          <p class="review-text">Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were completed on time and the result exceeded my expectations.</p> 
        </div>
        <div class="swiper-slide">
          <img class="review-img" src="https://ftp.goit.study/img/avatars/6.jpg" alt="">
          <h4 class="review-author">Natalia</h4>
          <p class="review-text">Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were completed on time and the result exceeded my expectations.</p>
        </div>
        <div class="swiper-slide">
          <img class="review-img" src="https://ftp.goit.study/img/avatars/7.jpg" alt="">
          <h4 class="review-author">Natalia</h4>
          <p class="review-text">Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were completed on time and the result exceeded my expectations.</p>
        </div> 
        <div class="swiper-slide">
          <img class="review-img" src="https://ftp.goit.study/img/avatars/8.jpg" alt="">
          <h4 class="review-author">Natalia</h4>
          <p class="review-text">Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were completed on time and the result exceeded my expectations.</p>
        </div>
        <div class="swiper-slide">
          <img class="review-img" src="https://ftp.goit.study/img/avatars/9.jpg" alt="">
          <h4 class="review-author">Natalia</h4>
          <p class="review-text">Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were completed on time and the result exceeded my expectations.</p>
        </div>
      </div>

      
      <div class="buttons-div">
        <button class="swiper-button-prev">
          <svg class="" width="16" height="16">
          <use href="../img/icon.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
        <button class="swiper-button-next">
          <svg class="" width="16" height="16">
          <use href="../img/icon.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
      </div>
    </div>

  </div>
  
</section>
