.benefits {
  padding: 64px 0;
}

.benefits-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (min-width: 1440px) {
  .benefits-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.benefits-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: var(--common-text-color);
  line-height: 1.5;
  letter-spacing: -0.02em;
  flex-shrink: 0;
}

.benefits-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
}

@media (min-width: 768px) {
  .benefits {
    padding-top: 96px;
  }
  .benefits-content {
    gap: 64px;
  }
}

@media (min-width: 1440px) {
  .benefits {
    padding-top: 164px;
  }
  .benefits-content {
    width: 50%;
  }
}

/* Список карток */
.benefits-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .benefits-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.benefits-item {
  background-color: #2a2a2a;
  border-radius: 16px;
  padding: 24px;
  text-align: left;
  transition: transform 250ms ease;
  display: flex;
  flex-direction: column;
  outline: none;
  cursor: default;
}

@media (min-width: 1440px) {
  .benefits-item:hover,
  .benefits-item:focus {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* Іконковий блок */
.benefits-icon {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 1.5px;
  fill: none;
}

.benefits-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: var(--common-bg-btn-color);
  border-radius: 10px;
  margin-bottom: 64px;
}

/* Заголовок */
.benefits-item-title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

/* Опис */
.benefits-item-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--common-placholder-color);
}

/* Кнопка */
.benefits-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: transparent;
  color: var(--common-color);
  border: 1px solid var(--common-color);
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 250ms, border-color 250ms;
  outline: none;
}

@media (min-width: 1440px) {
  .benefits-button {
    align-self: flex-start;
  }

  .benefits-button:hover,
  .benefits-button:focus {
    background-color: rgba(237, 59, 68, 0.1);
    border-color: var(--common-bg-btn-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.benefits-button:active {
  background-color: var(--common-bg-btn-color);
  color: var(--common-color);
  border-color: var(--common-bg-btn-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
