:root {
  --common-bg: #1c1d20;
  --common-bg-color-btn: #e0373f;
  --common-text-color: #fff;
  --common-subtitle-color: #fafafa;
  --common-accent-color-first: #ed3b44;
  --common-accent-color-second: rgba(250, 250, 250, 0.4);
  --common-border-disable-color: rgba(250, 250, 250, 0.2);
  --common-border-active-color: rgba(250, 250, 250, 0.5);
  --common-subtext-color: rgba(250, 250, 250, 0.6);
  --common-arrow-disable: #3b3b3b;
  --form-succes-color: #3cbc81;
  --form-error-color: #e74a3b;
  --common-bg-card: #242527;
  --common-project-color: #1c1d20;
  --common-project-border: rgba(28, 29, 32, 0.2);
  --common-bg-wrapper-color: rgba(15, 15, 16, 0.6);

  --bg-body: var(--common-bg);
  --section-title-color: var(--common-accent-color-second);
  /* #region header color */
  --menu-text-color: var(--common-subtitle-color);
  --menu-text-color-hover: var(--common-accent-color-first);
  --header-bg-btn-color: var(--common-accent-color-first);
  --header-btn-color-text: var(--common-subtitle-color);
  --header-fill-icon: var(--common-subtitle-color);
  /* #endregion */
  /* #region hero color */
  --hero-title-color: var(--common-subtitle-color);
  --hero-link-text-color: var(--common-subtitle-color);
  --hero-link-border-color: var(--common-border-disable-color);
  /* #endregion */
  /* #region about me color */
  --aboutme-accent-first: var(--common-accent-color-first);
  --aboutme-accent-second: var(--common-accent-color-second);
  --aboutme-bg-link-hover: var(--common-accent-color-first);
  --aboutme-bg-link-border: var(--common-border-disable-color);
  --aboutme-bg-link-text-color: var(--common-subtitle-color);
  --aboutme-accordion-title-color: var(--common-accent-color-second);
  --aboutme-accordion-text-color: var(--common-subtitle-color);
  /* #endregion */

  /* #region benefits color */
  --benefits-fill-svg-icon: var(--common-subtitle-color);
  --benefits-bg-svg-icon: var(--common-accent-color-first);
  --benefits-title-color: var(--common-subtitle-color);
  --benefits-text-color: var(--common-subtext-color);
  --benefits-bg-link: var(--common-bg-card);
  --benefits-btn-border: var(--common-border-disable-color);
  --benefits-btn-text-color: var(--common-subtitle-color);
  /* #endregion */
  /* #region project color */
  --project-bg-left: var(--common-subtitle-color);
  --project-bg-reight: var(--common-bg-card);
  --project-title-color: var(--common-project-color);
  --project-link-techno-border-color: var(--common-project-border);
  --project-link-techno-text-color: var(--common-project-color);
  --project-bg-btn: var(--common-accent-color-first);
  /* #endregion */
  /* #region faq color */
  --faq-title-color: var(--common-subtitle-color);
  --faq-text-color: var(--common-subtext-color);
  --faq-after-color: var(--common-border-disable-color);
  --faq-arrow-border-color: var(--common-border-disable-color);
  --faq-arrow-fill-color: var(--common-subtitle-color);
  /* #endregion */

  /* #region reviews color */
  --reviews-title-color: var(--common-subtitle-color);
  --reviews-text-color: var(--common-subtext-color);
  --reviews-border-color: var(--common-border-disable-color);
  /* #endregion */
  /* #region footer color */
  --footer-title-color: var(--common-subtitle-color);
  --footer-accent-color: var(--common-accent-color-first);
  --footer-input-placeholder-color: var(--common-subtext-color);
  --footer-bg-btn-color: var(--common-accent-color-first);
  --footer-btn-text-color: var(--common-subtitle-color);
  --footer-btn-border-color: var(--common-border-disable-color);
  --footer-mobile-bg-color: var(--common-project-color);
  --footer-mobile-title-color: var(--common-subtitle-color);
  --footer-mobile-text-color: var(--common-subtext-color);
  --footer-mobile-fill-color: var(--common-subtitle-color);
  --footer-mobile-wrapper-bg: var(--common-bg-wrapper-color);

  /* #endregion */
  /* #region arrows color for slider */
  --arrow-active-color: var(--common-subtitle-color);
  --arrow-disable-color: var(--common-arrow-disable);
  --arrow-active-border: var(----common-border-active-color);
  --arrow-disable-border: var(--common-border-disable-color);
}
/* #endregion */
