.covers {
  padding-top: 64px;
}
.covers-container {
  position: relative;
  height: 508px;
  overflow: hidden;
}
.marquee {
  height: 100vh;
  height: -moz-available;
  height: -webkit-fill-available;
  background: url('../img/covers/bg-line-cover.webp') left top no-repeat;
  background-size: contain;
  position: absolute;
  right: -800px;
  left: 0;
}

.marquee__inner {
  display: flex;
  flex-direction: row;
  gap: 14px;
  transform: rotate(16deg);
  margin-bottom: 24px;
}

.marquee__line {
  flex-shrink: 0;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
}
@media only screen and (min-width: 768px) {
  .covers {
    padding-top: 96px;
  }
  .covers-container {
    height: 960px;
  }
  .marquee__inner {
    gap: 44px;
    margin-bottom: 44px;
  }
  .marquee__line {
    width: calc((100% - 4 * 44px) / 5);
  }
}
@media only screen and (min-width: 1440px) {
  .covers {
    padding-top: 164px;
  }
}
