.faq {
  padding-top: 64px;
}
.faq-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--common-text-color);
  padding-bottom: 32px;
}
.ac {
  padding-top: 20px;
}
#faq-accordion #ac-3,
#faq-accordion #ac-4,
#faq-accordion #ac-5,
#faq-accordion #ac-6,
#faq-accordion #ac-7,
#faq-accordion #ac-8 {
  --color-white: transparent;
  --color-black: var(--common-color);
  border-top-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: var(--common-border-hover);
  margin-bottom: 24px;
}
#faq-accordion #ac-3 {
  border-top-width: 0;
}
.faq-accordion {
  border-top-width: 1px;
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid var(--common-border-hover);
  border-left: transparent;
  border-right: transparent;
}
#faq-accordion #ac-3 #ac-trigger-3,
#faq-accordion #ac-4 #ac-trigger-4,
#faq-accordion #ac-5 #ac-trigger-5,
#faq-accordion #ac-6 #ac-trigger-6,
#faq-accordion #ac-7 #ac-trigger-7,
#faq-accordion #ac-8 #ac-trigger-8 {
  font-family: 'Inter Tight', sans-serif;
  letter-spacing: -0.02em;
  line-height: 1.5;
  font-weight: 600;
  font-size: 20px;
  color: #fafafa;
  padding: 0;
  padding-right: 65px;
}
#ac-3 #ac-trigger-3::after,
#ac-4 #ac-trigger-4::after,
#ac-5 #ac-trigger-5::after,
#ac-6 #ac-trigger-6::after,
#ac-7 #ac-trigger-7::after,
#ac-8 #ac-trigger-8::after {
  content: '\276F';
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  border: 1px solid var(--common-border-hover);
  border-radius: 100px;
  padding: 7px;
  width: 20px;
  height: 20px;
  right: 0;
  top: -5px;
  transition: transform 400ms ease-out;
}
#faq-accordion #ac-3.is-active > .ac-header #ac-trigger-3::after,
#faq-accordion #ac-4.is-active > .ac-header #ac-trigger-4::after,
#faq-accordion #ac-5.is-active > .ac-header #ac-trigger-5::after,
#faq-accordion #ac-6.is-active > .ac-header #ac-trigger-6::after,
#faq-accordion #ac-7.is-active > .ac-header #ac-trigger-7::after,
#faq-accordion #ac-8.is-active > .ac-header #ac-trigger-8::after {
  transform: rotate(270deg);
}
#faq-accordion #ac-3 #ac-panel-3 #ac-text-0,
#faq-accordion #ac-4 #ac-panel-4 #ac-text-1,
#faq-accordion #ac-5 #ac-panel-5 #ac-text-2,
#faq-accordion #ac-6 #ac-panel-6 #ac-text-3,
#faq-accordion #ac-7 #ac-panel-7 #ac-text-4,
#faq-accordion #ac-8 #ac-panel-8 #ac-text-8 {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--common-placholder-color);
  padding: 0;
  padding-top: 16px;
}

@media only screen and (min-width: 768px) {
  .ac {
    padding-top: 32px;
  }
  #faq-accordion #ac-0,
  #faq-accordion #ac-1,
  #faq-accordion #ac-2,
  #faq-accordion #ac-3,
  #faq-accordion #ac-4,
  #faq-accordion #ac-5 {
    margin-bottom: 42px;
  }
  #faq-accordion #ac-3 #ac-panel-0 #ac-text-0,
  #faq-accordion #ac-4 #ac-panel-1 #ac-text-1,
  #faq-accordion #ac-5 #ac-panel-2 #ac-text-2,
  #faq-accordion #ac-6 #ac-panel-3 #ac-text-3,
  #faq-accordion #ac-7 #ac-panel-4 #ac-text-4,
  #faq-accordion #ac-8 #ac-panel-5 #ac-text-5 {
    padding-top: 26px;
  }
  #faq-accordion #ac-3 #ac-trigger-3::after,
  #faq-accordion #ac-4 #ac-trigger-4::after,
  #faq-accordion #ac-5 #ac-trigger-5::after,
  #faq-accordion #ac-6 #ac-trigger-6::after,
  #faq-accordion #ac-7 #ac-trigger-7::after,
  #faq-accordion #ac-8 #ac-trigger-8::after {
    padding: 10px;
    width: 20px;
    height: 20px;
  }
  #faq-accordion #ac-3 #ac-panel-3 #ac-text-0,
  #faq-accordion #ac-4 #ac-panel-4 #ac-text-1,
  #faq-accordion #ac-5 #ac-panel-5 #ac-text-2,
  #faq-accordion #ac-6 #ac-panel-6 #ac-text-3,
  #faq-accordion #ac-7 #ac-panel-7 #ac-text-4,
  #faq-accordion #ac-8 #ac-panel-8 #ac-text-5 {
    width: 94%;
  }
}
@media only screen and (min-width: 1440px) {
  .faq-accordion {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
  }
  .faq-accordion::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background-color: var(--common-border-hover);
    z-index: 99;
    right: 48%;
    top: 0;
  }
  #faq-accordion #ac-1 {
    border-top-width: 0;
  }
  #faq-accordion #ac-4 #ac-trigger-4,
  #faq-accordion #ac-4 #ac-panel-4 #ac-text-1,
  #faq-accordion #ac-6 #ac-trigger-6,
  #faq-accordion #ac-6 #ac-panel-6 #ac-text-3,
  #faq-accordion #ac-8 #ac-trigger-8,
  #faq-accordion #ac-8 #ac-panel-8 #ac-text-5 {
    padding-left: 64px;
  }
  #faq-accordion #ac-3 #ac-panel-3 #ac-text-0,
  #faq-accordion #ac-4 #ac-panel-4 #ac-text-1,
  #faq-accordion #ac-5 #ac-panel-5 #ac-text-2,
  #faq-accordion #ac-6 #ac-panel-6 #ac-text-3,
  #faq-accordion #ac-7 #ac-panel-7 #ac-text-4,
  #faq-accordion #ac-8 #ac-panel-8 #ac-text-5 {
    width: 85%;
  }
}
