.header {
  position: absolute;
  width: 100%;
  background: transparent;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .header-nav {
    gap: 151px;
  }
}

@media only screen and (min-width: 1440px) {
  .header-nav {
    gap: 487px;
  }
}

.nav-logo {
  display: flex;
  align-items: flex-start;
  padding-left: 16px;
  padding-top: 32px;
}
.nav-logo-png {
  max-width: 80px;
  max-height: 80px;
}

.logo-text {
  font-size: 20px;
  margin-left: 8px;
}

.nav-menu-btn,
.header-link {
  display: none;
  background: transparent;
  border: none;
  color: var(--common-color);
}

@media only screen and (min-width: 375px) {
  .nav-menu-btn {
    display: block;
    width: 60px;
    height: 39px;
    font-size: var(--font-size);
  }
}

.nav-item,
.nav-menu-btn,
.header-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-btn:focus,
.nav-item:focus,
.nav-menu-btn:hover,
.nav-item:hover {
  text-decoration: underline;
}
.nav-item:active,
.nav-menu-btn:active {
  color: var(--common-bg-btn-color);
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 80px;
  gap: 5px;
}

.hidden {
  display: none;
}
@media only screen and (min-width: 375px) {
  .nav-list {
    left: 49%;
  }
}

@media only screen and (min-width: 768px) {
  .nav-list {
    left: 47.5%;
  }
}

@media only screen and (min-width: 1440px) {
  .nav-list {
    left: 48.7%;
  }
}

.burger-btn {
  padding: 0;
  width: 28px;
  height: 28px;
  margin-left: auto;
  background: transparent;
  border: none;
}
.burger-btn-icon {
  stroke: var(--common-color);
}

.burger-btn-icon:active {
  stroke: var(--common-bg-btn-color-hover);
}

.burger-btn-icon {
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 375px) {
  .burger-btn {
    display: none;
  }
}

.header-link {
  border-radius: 60px;
  padding: 18px 24px;
  max-width: 163px;
  background-color: var(--common-bg-btn-color);
  white-space: nowrap;
}

@media only screen and (min-width: 375px) {
  .header-link {
    display: block;
  }
}

.header-link:hover {
  background-color: var(--common-bg-btn-color-hover);
}
