.hero {
  background-image: url('../img/hero/bg-modal.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 281px 0 32px;
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: url('../img/hero/bg-modal@2x.png');
  }
}
.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--common-color);
  margin-bottom: 212px;
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 300px;
  }
  .hero-title {
    font-size: 90px;
    margin-bottom: 187px;
  }

  .hero-title-div {
    padding-top: 300px;
    padding-bottom: 187px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-title {
    font-size: 90px;
    margin-bottom: 243px;
  }
}
.hero-social-links {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  justify-content: space-between;
  width: 100%;
}
.hero-social-link-item {
  align-items: center;
  justify-content: center;
  display: flex;
}

.hero-social-link-item-text {
  padding: 10px;
  border: 1px solid var(--common-border-hover);
  border-radius: 60px;
  font-family: inherit;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: -0.02em;
  color: var(--common-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-email {
  padding: 10px 12px;
}
@media only screen and (min-width: 375px) {
  .hero-social-link-item-text {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: url('../img/hero/bg-hero-tablet.png');
  }

  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: url('../img/hero/bg-hero-tablet@2x.png');
    }
  }
  .hero-social-link-item-text {
    padding: 18px;
  }
  .contact-email {
    padding: 18px 24px;
  }

  .hero-social-links {
    gap: 8px;
    width: 100%;
    justify-content: flex-end;
  }
  .hero-social-link-item-text:hover {
    border-color: var(--common-color);
  }

  .hero-social-link-item-text {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-title {
    padding-left: 146px;
  }

  .hero-title-div {
    padding-bottom: 243px;
  }
}
