.hero {
  background-image: url('../img/bg-modal.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 32px;
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: url('../img/bg-modal@2x.png');
  }
}

.hero-title-div {
  padding-top: 281px;
  padding-bottom: 212px;
}

.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--common-color);
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 90px;
  }

  .hero-title-div {
    padding-top: 300px;
    padding-bottom: 187px;
  }
}

.hero-social-links {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.hero-social-link-item {
  border: 1px solid var(--common-border-hover);
  border-radius: 60px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  display: flex;
}

.hero-social-link-item.contact-email {
  width: auto;
  padding-right: 8px;
  padding-left: 8px;
}

.hero-social-link-item-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--common-color);
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: url('../img/bg-hero-tablet.png');
  }

  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: url('../img/bg-hero-tablet.png');
    }
  }

  .hero-social-links {
    gap: 8px;
    width: 100%;
    justify-content: flex-end;
  }
  .hero-social-link-item:hover {
    border-color: var(--common-bg-btn-color-hover);
  }
  .hero-social-link-item:hover .hero-social-link-item-text {
    color: var(--common-bg-btn-color-hover);
  }
  .hero-social-link-item {
    padding: 18px 20px;
  }

  .hero-social-link-item.contact-email {
    width: auto;
    padding-right: 24px;
    padding-left: 24px;
  }

  .hero-social-link-item-text {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-title {
    padding-left: 73px;
  }

  .hero-title-div {
    padding-bottom: 243px;
  }
}
