.project {
  margin-top: 64px;
}
.project-item {
  width: 100%;
}
.project-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--common-text-color);
  margin-bottom: 32px;
}
.project-list {
  width: 100%;
}

.project-information {
  border-radius: 24px 24px 0 0;
  background: var(--common-color);
  padding: 32px;
}

.skill-text-block {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 6px;
  max-width: 279px;
  width: 100%;

  margin-bottom: 96px;
}

.skill-text {
  letter-spacing: -0.02em;
  color: var(--common-bg);
  border: 1px solid var(--project-border-color);
  border-radius: 60px;
  padding: 13px 18px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  flex-shrink: 0;
}
.project-description-text {
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  color: var(--common-bg);
  margin-bottom: 45px;
  max-width: 279px;
  width: 100%;
}
.project-link {
  letter-spacing: -0.02em;
  color: var(--common-color);
  border-radius: 60px;
  padding: 13px 32px;
  min-width: 141px;
  cursor: pointer;
  border: none;
  background-color: var(--common-bg-btn-color);
}

.project-link:hover {
  background-color: var(--common-bg-btn-color-hover);
}

.img-block {
  background: var(--common-benefits-dg-color);
  border-radius: 0 0 24px 24px;
}

.project-img {
  max-width: 311px;
  width: 100%;
  padding: 100px 16px;
  margin: 0 auto;
}

.swipe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
.cust-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  margin-top: 32px;

  border: 1px solid var(--common-border-color);
  border-radius: 60px;
  padding: 18px;
  width: 68px;
  height: 68px;
  background-color: var(--common-bg);

  stroke: var(--common-color);
}

.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: default;
}

@media only screen and (min-width: 768px) {
  .project-information {
    padding: 64px;
  }

  .skill-text-block {
    max-width: none;
    flex-wrap: nowrap;
    margin-bottom: 164px;
  }
  .skill-text {
    padding: 18px;
  }
  .project-description-text {
    font-size: 44px;
    line-height: 1;
    max-width: 494px;
  }
  .project-img {
    max-width: 614px;
    width: 100%;
    padding: 120px 45px;
  }
  .swipe-btn {
    margin-top: 64px;
    gap: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .project-list {
  }
  .project-item {
    display: flex;
  }
  .project-information {
    max-width: 494px;
    width: 50%;
    padding: 64px 130px 64px 64px;
    border-radius: 24px 0 0 24px;
  }
  .project-description-text {
  }
  .img-block {
    border-radius: 0 24px 24px 0;
    max-width: 688px;
    width: 50%;
  }
  .project-img {
    padding: 120px 37px;
  }
}
